# Visual Studio
.vs/
*.user
*.userosscache
*.suo

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
packages/
*.nupkg

# SQL Server local files
*.mdf
*.ldf